@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/009/003/666/small/creative-colorful-letters-cv-c-v-logo-with-leading-lines-and-road-concept-design-letters-with-geometric-design-vector.jpg" alt="Description of your image" ">
    
</div>
<style>
    .custom-image {
    max-width: 50%; /* Đặt kích thước tối đa của ảnh là 300px */
    height: auto; /* Cho phép chiều cao tự động điều chỉnh để giữ tỉ lệ */
}
</style>